.container {
  position: static;
  top: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.subContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 32px 24px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 16px #bbb;
  min-width: 320px;
  max-width: 600px;
  width: 100%;
}

.historyContainer {
  text-align: center;
}

.p {
  font-style: italic;
}

@media only screen and (min-width: 1024px) {
  .container {
    min-height: 60vh;
    margin: 0 auto;
    top: 0;
  }
  .subContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 32px 24px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 16px #bbb;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
  }
  .img {
    width: 60%;
  }
  .historyContainer {
    margin-right: 0;
  }
}
